{% extends 'base.html.twig' %}

{% block title %}Welcome to Mailbox !
{% endblock %}

{% block body %}
	<section class="container">
		<div class="row">
			<div class="col">
				<h1 class="mt-5 mb-3 text-uppercase">
					Welcome to MailBox ! 
				</h1>
				<p>
					MailBox Resume 
				</p>
				<p>
					Received : {{ app.user.received|length }}
				</p>
				<p>
					Sent : {{ app.user.sent|length }}
				</p>
				<a class="btn btn-dark my-5" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					See my Folders
				</a>
                <a href="{{ path("app_send") }}" class="btn btn-primary">Send a message</a>

				<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
					<div class="offcanvas-header">
						<h2 class="offcanvas-title" id="offcanvasExampleLabel">Folders</h2>
						<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
					</div>
					<div class="offcanvas-body">
						<p> Check your folder's mails </p>
                        <div class="list-group">
                            <a href="{{ path("app_messages") }}" class="list-group-item list-group-item-action active"> Home</a>
                            <a href="{{ path("app_received") }}" class="list-group-item list-group-item-action"> MailBox </a>
                            <a href="{{ path("app_sent") }}" class="list-group-item list-group-item-action"> Sent Mails</a>
                        </div>
					</div>
				</section>
			{% endblock %}
